<div class="container wrapper">
    <div class="row">

        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
                <h3><u>Customers List</u></h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th scope="col">ID</th> -->
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let issues of customerList">
                            <!-- <th scope="row">{{issues._id}}</th> -->
                            <td>{{issues.FirstName}}</td>
                            <td>{{issues.LastName}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-customer/', issues._id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deletecustomer(issues)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="products">
    <ul>
        <li *ngFor="let product of products">
            <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-customer/', product._id]">Edit</button> - {{product.name}} - {{product._id}} - <button type="button" class="btn btn-danger btn-sm" (click)="_deleteProduct(product._id)">Remove</button>
        </li>
    </ul>
    </div>
</div>
